<mat-toolbar  >

  <span>E-commerce App</span>

  <button mat-button (click)="getProducts()">Products</button>
  <button mat-button >Categories</button>
  <button mat-button >Bills</button>

  <span class="menu-spacer"></span>
  <button mat-icon-button >
    <mat-icon>favorite</mat-icon>
  </button>
  <button (click)="getCaddy()" mat-icon-button >
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button (click)="logOut()" mat-icon-button >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
