<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="products">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let product of products">
  <mat-card class="mat-elevation-z2" style="max-width: 300px">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image mat-card-lg-image style="width:250px;"  src="{{picUrl}}{{product.id}}" class="responsive"/>
    <mat-card-content>
      <p>Price: {{product.price}} DH</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button >
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-button  (click)="addProductToCaddy(product)" style="color:lawngreen">Add To Caddy</button>
      <input [(ngModel)]="product.quantity" type="number" style="width:40px ">
      <button (click)="getOneProduct(product.id)" style="margin-left:40px" mat-icon-button >
        <mat-icon>info</mat-icon>
      </button>
    </mat-card-actions>

  </mat-card>
  </div>
</div>


